body {
    background-color: #0000FF;
    color: #FFFFFF;
    font-family: 'Courier New', sans-serif;
    text-align: center;
    vertical-align: center;
    padding: 50px;
    }
    
h1 {
    font-size: 60px;
    }
    
p {
    font-size: 24px;
    }