body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;
}

.rectangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  box-shadow:
    0 0 5px 1px #fff,
    /* inner white */
    0 0 10px 2px #f0f,
    /* middle magenta */
    0 0 15px 3px #0ff;
  /* outer cyan */
  border-style: solid;
}

#rectangle {
  width: 80vw;
  height: 80vh;
}

#rectangle1 {
  width: 60vw;
  height: 60vh;
}

#rectangle2 {
  width: 40vw;
  height: 40vh;
  background-color: black;
}

#lines {
  filter: drop-shadow(0px 2px 5px #f0f);
}

/*Foreground under here :D*/

#imgdiv {
  position: absolute;

  display: flex;
  justify-content: center;

  top: 1vh;
  left: 1vw;
  width: 98vw;
  height: 50vh;

  background-color: black;
  box-shadow:
    0 0 5px 1px #fff,
    /* inner white */
    0 0 10px 2px #f0f,
    /* middle magenta */
    0 0 15px 3px #0ff;
  /* outer cyan */
  border-style: solid;
}

.aboutmeimg {
  height: 100%;
  width: auto;
}

#textdiv {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 1vh;
  background-color:black;
  border-style: solid;
}