
.myavatar {
	display: inline-block;
	position: relative;
	width: 290px;
	height: 315px;
	background-color: #000000;
	border: 3px solid #6b76d1;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
	/*overflow: hidden;*/
	margin: 0 auto;
  }
  .aboutme {
	display: inline-block;
	position: relative;
	width: 500px;
	height: 300px;
	background-color: #efedde;
	border: 3px solid #6b76d1;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
	overflow: hidden;
	margin: 0 auto;
  }
  .findme {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 220px;
	background-color: #efedde;
	border: 3px solid #6b76d1;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
	overflow: hidden;
	margin: 0 auto;
  }
  .terminal {
	display: inline-block;
	position: relative;
	width: 500px;
	height: 320px;
	background-color: #000000;
	border: 3px solid #6b76d1;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
	overflow: hidden;
	margin: 0 auto;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
   color: white;
	
   
	
  }
  
  
  /*Terminal Special Styles*/
  .terminal-output {
	height: 220px;
	overflow: auto;
	margin-bottom: 10px;
  }
  
  .terminal-input {
	display: flex;
	align-items: center;
  }
  
  .terminal-prompt {
	margin-right: 5px;
  }
  /* Windows XP Window Styles */
  .window-header {
	position: relative;
	height: 30px;
	background-color: #6b76d1;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 0 6px;
	line-height: 30px;
  }
  .icon-Image{
	width: 15px;
	height: 15px;
  }
  .window-buttons {
	position: absolute;
	top: 0;
	right: 0;
  }
  .window-buttons button {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
  }
  .window-buttons .close {
	background-image: url('https://img.icons8.com/windows/32/000000/close-window.png');
  }
  .window-buttons .maximize {
	background-image: url('https://img.icons8.com/windows/32/000000/maximize-window.png');
  }
  .window-buttons .minimize {
	background-image: url('https://img.icons8.com/windows/32/000000/minimize-window.png');
  }
  .window-content {
	position: relative;
	width: 100%;
	height: calc(100% - 30px);
	overflow: auto;
	padding: 16px;
  }
  .win {
	font-family: "Segoe UI", Tahoma, sans-serif;
	 padding: 9px;
  }
  