body {
  background-image: url('https://Dragomy.github.io/assets/DesktopBg.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

/* Menue Styles */
.taskbar {
  background-color: #6b76d1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.taskbar .startmenu {
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 40px;
  padding: 0 9px;
  line-height: 40px;
  cursor: pointer;
}

.taskbar .startmenu:hover {
  background-color: #5b65d0;
}

.taskbar .application {
  color: #fff;
  background-color: #6b76d1;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 0 10px;
  line-height: 40px;
  cursor: pointer;
}

.taskbar .application:hover {
  background-color: #5b65d0;
}

/* Locations and such things */
.myavatar {
  display: inline-block;
  position: absolute;
  background-image: url('https://Dragomy.github.io/assets/MyAvatar(Dragomy).jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 290px;
  height: 315px;
  background-color: #000000;
  border: 3px solid #6b76d1;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
}

.aboutme {
  display: inline-block;
  position: absolute;

  top: 40%;
  right: 60%;

  width: 500px;
  height: 300px;
  background-color: #efedde;
  border: 3px solid #6b76d1;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  margin: 0 auto;
}

.findme {
  display: inline-block;
  position: fixed;

  top: 5%;
  right: 10%;

  width: 200px;
  height: 220px;
  background-color: #efedde;
  border: 3px solid #6b76d1;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  margin: 0 auto;
}

.terminal {
  display: inline-block;
  position: fixed;
  top: 50%;
  right: 20%;
  width: 500px;
  height: 320px;
  background-color: #000000;
  border: 3px solid #6b76d1;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: white;



}

.ClickMeWindow {
  display: inline-block;
  position: absolute;
  top: 15%;
  right: 29%;
  width: 400px;
  height: 300px;
  background-color: #efedde;
  border: 3px solid #6b76d1;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  margin: 0 auto;
}

/* ClickMe Button */
.button_DCMIS {
  position: absolute;
  top: 65%;
  left: 30%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f00;
  border: none;
  border-radius: 50%;
  box-shadow: 0 9px #999;
}

.button_DCMIS:active {
  background-color: #e00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*Terminal Special Styles*/
.terminal-output {
  height: 220px;
  overflow: auto;
  margin-bottom: 10px;
}

.terminal-input {
  display: flex;
  align-items: center;
}

.terminal-prompt {
  margin-right: 5px;
}

/* Windows XP Window Styles */
.window-header {
  position: relative;
  height: 30px;
  background-color: #6b76d1;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 0 6px;
  line-height: 30px;
}

.icon-Image {
  width: 15px;
  height: 15px;
}

.window-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.window-buttons button {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}

.window-content {
  position: relative;
  width: 100%;
  height: calc(100% - 30px);
  overflow: auto;
  padding: 16px;
}

.win {
  font-family: "Segoe UI", Tahoma, sans-serif;
  padding: 9px;
}

.window-buttons .close {
  background-image: url('https://Dragomy.github.io/assets/CloseButton.png');
}

.window-buttons .maximize {
  background-image: url('https://Dragomy.github.io/assets/MaximizeButton.png');
}

.window-buttons .minimize {
  background-image: url('https://Dragomy.github.io/assets/MinimizeButton.png');
}

/* Curriculum Vitae */
.wp-window {
  display: inline-block;
  position: relative;
  width: 900px;
  height: 750px;
  background-color: #efedde;
  border: 3px solid #6b76d1;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  margin: 0 auto;
}

.wp-window-header {
  position: relative;
  height: 30px;
  background-color: #6b76d1;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 0 6px;
  line-height: 30px;
}

.icon-Image {
  width: 15px;
  height: 15px;
}

.wp-window-content {
  position: relative;
  width: 100%;
  height: calc(100% - 30px);
  overflow: auto;

}

.wp-helpbar {
  background-color: #ece9d8;
  width: 894px;
  height: 20px;
  border: 2px solid #cccac1;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
  margin: 0 auto;
}

.wp-toolbar {
  background-color: #ece9d8;
  width: 894px;
  height: 25px;
  border: 2px solid #cccac1;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
  margin: 0 auto;
}

.wp-texttools {
  background-color: #ece9d8;
  width: 894px;
  height: 25px;
  border: 2px solid #cccac1;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
  margin: 0 auto;
  display: flex;
}

.wp-font {
  position: relative;
  background-color: #fff;
  width: 100px;
  height: 18px;
  border: 2px solid #9bb1c2;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
  margin: 0 auto;
  margin-left: 5px;
}

.wp-scale {
  position: absolute;
  background-color: #fff;
  width: 60px;
  height: 18px;
  border: 2px solid #9bb1c2;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
  margin-left: 130px;
}

.wp-style {
  position: absolute;
  background-color: #fff;
  width: 80px;
  height: 18px;
  border: 2px solid #9bb1c2;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
  margin: 0 auto;
  margin-left: 214px;
}

.wp-innersc {
  position: absolute;
  background-color: #fff;
  width: 895px;
  height: 18px;
  border: 2px solid #000;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
  margin: 0 auto;
  overflow: hidden;
}

.wp-paper {
  background-color: #fff;
  width: 885px;
  height: 1160px;
  border: 2px solid #cccac1;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
  margin: 0 auto;
}

.wp-text {
  margin-right: 10px;
}