body {
  background-color: black;
}

/*Color1:purple; #765898*/
/*Color2:green; #52d053*/

/*[===Text Box Styles===]*/
.site-border {
  display: flex;
  justify-content: space-between;

  height: 97vh;
  width: auto;

  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  border-style: solid;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97%;
  width: 10%;
  margin: 8px;
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  border-style: solid;
}

.welcome-text {
  font-size: 200px;
  transform: rotate(270deg);
  transform-origin: center;
  user-select: none;
  text-shadow: 2px -4px gray;
}

.coolString {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 11%;

  height: 10%;
  width: 35%;
  margin: 8px;

  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  border-style: solid;
}

#dateParagraph {
  font-size: 80px;
  transform-origin: center;
  user-select: none;
  text-shadow: 2px -4px gray;
}

.WaIBox {
  position: absolute;
  right: 10px;
  bottom: 20px;
  justify-content: center;
  height: 50%;
  width: 22%;
  margin: 8px;
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  border-style: solid;
}

.WaI {
  transform-origin: center;
  user-select: none;
  text-shadow: 1.2px -1.2px gray;
  margin: 10px;
}

.styled-button {
  /*I like Comic Sans #freeComicSans*/
  font-family: 'Comic Sans MS';

  width: 250px;
  height: 30px;
  font-size: 30px;
  text-decoration: underline;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.styled-button:hover {
  color: #765898;
}

.styled-button:active {
  color: #52d053;
}

/*[===Window Styles===]*/

.myavatar {
  position: absolute;
  right: 20px;
  top: 20px;

  display: inline-block;
  background-image: url('https://Dragomy.github.io/assets/MyAvatar(Dragomy).jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 22%;
  height: 42vh;
  background-color: #000000;
  border: 3px solid #765898;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
}

.findme {
  position: absolute;
  left: 11.4%;
  top: 13%;

  display: inline-block;


  width: 10%;
  height: 20%;

  background-color: #efedde;
  border: 3px solid #765898;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  margin: 0 auto;
}

.hobbys {
  position: absolute;
  left: 23%;
  top: 13%;

  display: inline-block;

  width: 10%;
  height: 20%;

  background-color: #efedde;
  border: 3px solid #765898;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  margin: 0 auto;
}

/* Windows XP Window Styles */
.window-header {
  position: relative;
  height: 30px;
  background-color: #765898;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 0 6px;
  line-height: 30px;
}

.icon-Image {
  width: 15px;
  height: 15px;
}

.window-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.window-buttons button {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}

.window-content {
  position: relative;
  width: 100%;
  height: calc(100% - 30px);
  overflow: auto;
  padding: 16px;
}

.win {
  font-family: "Segoe UI", Tahoma, sans-serif;
  padding: 9px;
}

.window-buttons .close {
  background-image: url('https://Dragomy.github.io/assets/CloseButton.png');
}

.window-buttons .maximize {
  background-image: url('https://Dragomy.github.io/assets/MaximizeButton.png');
}

.window-buttons .minimize {
  background-image: url('https://Dragomy.github.io/assets/MinimizeButton.png');
}