*{ 
  text-decoration: none;
  color: white;
  border-color: white;
  }
  body {
  text-decoration: none; 
  font-family: Arial;
  padding: 2%;
  background: black;
  }
  
  .topnav {
  overflow: hidden;
  background-color: black;
  box-shadow:
  0 0 5px 1px #fff,  /* inner white */
  0 0 10px 2px #f0f, /* middle magenta */
  0 0 15px 3px #0ff; /* outer cyan */
  border-style: solid;
  }
  
  .topnav a {
  float: left;
  color: white;
  padding: 14px;
  }
  
  .topnav a:hover {
  background-color: purple;
  color: white;
  }
  
  .leftcolumn {  
  float: left;
  width: 19%;
  background-color:rgba(0, 0, 0, 0);
  padding-left: 0px;
  }
  
  .rightcolumn {
  float: right;
  width: 80%;
  }
  
  .card {
  overflow: hidden;
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 20px;
  border-color: white;
  box-shadow:
  0 0 5px 1px #fff,  /* inner white */
  0 0 10px 2px #f0f, /* middle magenta */
  0 0 15px 1px #0ff; /* outer cyan */
  border-style: solid;
  }
  
  .row::after {
  content: "";
  display: table;
  clear: both;
  }
  
  .footer {
  padding: 20px;
  text-align: center;
  background: black;
  color: white;
  margin-top: 20px;
  }
  
  @media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
  width: 100%;
  }
  }
  
  @media screen and (max-width: 400px) {
  .topnav a {
  float: none;
  width: 100%;
  }
  }
  
  .element {
  border-style: solid;
  border-color: purple;
  float: left;
  display: block;
  margin: 1%;
  width: 200px;
  height:200px;
  background-color: purple;
  border-radius:10px;
  }
  .element:hover {
  border-radius:0px;
  border-color: white;
  background-color:white;
  }
  .element:hover .text{
  border-radius:0px;
  border-color: white;
  color:black;
  background-color:white;
  }
  .text{
  margin:5px;
  }
  .styled-button{
  background-color:black;
  border-color:purple;
  }
  .styled-button:hover{
  background-color:black;
  border-color:white;
  }
  