body {
    font-family: 'Comic Sans MS';
    font-size: 1.25vh;

    background-color: lightblue;
}

.Selector {
    position: absolute;
    right: 1vw;
    width: 30vw;
}

.Item {
    background-color: beige;
    box-shadow: inset 2px 2px 5px #000;
    border-style: double;
}

.Output {
    position: absolute;
    left: 1vw;
    bottom: -1.25vh;
    height: 40vh;
    width: 65vw;
    background-color: beige;
    box-shadow: inset 2px 2px 5px #000;
    border-style: double;
}

#outputtext {
    margin: 1vw;
    font-size: 1.73vh;
}

input {
    width: 1.5vw;
    height: 1.5vh;
}